.create-recipe-image {
    height: 20rem;
    width: 20rem;
    object-fit: contain;
    border: 1px solid black;
    border-radius: 50%;
  }

.recipe-wrapper{
    text-align: center;
    height: 20rem;
    &:hover div{
        opacity: 1;
        z-index: 500;
        background: rgba(0, 0, 0, 0.8);
        border: 1px solid#282c34;
        border-top: 0;
        height: 10rem;
        width: 20rem;
        border-radius: 0 0 250px 250px;
        position: relative;
        bottom: 10rem;
    }
  }

.recipe-wrapper:hover span {
    transition: all 100ms ease-in;
    transform: scale(1.2);
}
.recipie-list-image{
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.08)
}
.recipe-details-description{
  font-weight: 600;
  
}
.recipe-details-list{
  list-style-type: circle;
}