.product-card{
  height: 13rem;
  padding: 0.75rem;
  box-shadow: 0 0 8px 5px #f2f2f2;
  text-align: center;
  border: none !important;
  &:hover{
      cursor: pointer;
      transform: scale(1.05)  ;
      -webkit-transform: scale(1.05)  ;
      -moz-transform: scale(1.05)  ;
      -ms-transform: scale(1.05)  ;
      -o-transform: scale(1.05)  ;
}
}
.product-card-footer{
  padding: 0 !important;
  line-height: 1rem;
  border: none !important;
  overflow: hidden;
  background-color: transparent !important;
  font-size: $font-small;
}
.product-card-image{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}
.product-card-title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 !important;
  line-height: 1.5rem;
  font-weight: 600;
  word-wrap: break-word;
  text-transform: uppercase;
}
.product-modal-image{
    width: 16rem;
    height: 16rem;
    object-fit: cover;
}
.product-modal-icon-delete-image{
  cursor: pointer;
  position: relative;
  bottom: 125px;
  right: 25px;
  &:hover{
    transform: scale(1.35)  ;
    -webkit-transform: scale(1.35)  ;
    -moz-transform: scale(1.35)  ;
    -ms-transform: scale(1.35)  ;
    -o-transform: scale(1.35)  ;
}
}