
.calendar-header-col{
    width: 100%;
    height: 50px;
    background-color: #de6e4b;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgba(255,255,255,1);
    cursor: pointer
}
.calendar-header-col:last-child{
    border: none;
}
.calendar-header-col span{
    &:first-child{
        text-transform: capitalize;
        font-weight: 600;
    };
    &:nth-child(2){
        font-size: $font-small;
    }
}
.calendar-header-active-date{
    position: relative;
    background-color: $primary;
    color: white;
    text-transform: uppercase;
    padding: 1rem;
    width: 16rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.5px
   
}
.calendar-header-download-icon{
    cursor: pointer;
    position: absolute;
    right: 35px;
    &:hover{
        transform: scale(1.1)    ;
        -webkit-transform: scale(1.1)    ;
        -moz-transform: scale(1.1)    ;
        -ms-transform: scale(1.1)    ;
        -o-transform: scale(1.1)    ;
}
}

.calendar-header-arrow-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.calendar-body{
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.09);
    min-height: 500px;
    max-height: 500px;

}
.calendar-body-header{
    font-weight: 600;
    background-color: #EDC79B;
    border-radius: 5%;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.09);
    min-height: 50px;
    max-height: 50px;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}
.calendar-body-column{
    background-color: #EDC79B;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.09);
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto; 
}

.calendar-body-column:last-child{
    border: none
}

.fab-container.custom-floating-button{
    z-index: 100;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 45px 15px 0
}

.calendar-element{
    color: white;
    background-color: rgb(222, 110, 75);
    border-radius:5%;
    height: 4.5rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius:5%;
    -moz-border-radius:5%;
    -ms-border-radius:5%;
    -o-border-radius:5%;
    &:not(:first-child){
        margin: 0.2rem
    }
}
.calendar-element-image{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}
.calendar-element-name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.calendar-modal{
    text-align: center;
    height: 250px;
    &:hover div{
        opacity: 1;
        z-index: 500;
        background: rgba(0, 0, 0, 0.8);
        border: 1px solid#282c34;
        border-top: 0;
        height: 125px;
        width: 250px;
        border-radius: 0 0 250px 250px;
        position: relative;
        bottom: 125px;
    }
  }

.calendar-modal:hover span {
    transition: all 100ms ease-in;
    transform: scale(1.2);
}
.calendar-modal-image {
    height: 250px;
    width: 250px;
    object-fit: contain;
    border: 1px solid black;
    border-radius: 50%;
  }
.calendar-modal-text{
    color: white;
    position: relative;
    top: 25px;
    font-size: 18px;
    cursor: pointer;
}
.calendar-image-icon {
    position: absolute;
    color: white;
    top: 30px;
    right: 22px;
}
.calendar-modal-submit-button{
    border: none;
    width: 100%;
    height: 50px
}
.calendar-details-image,
.recipe-details-image{
    width: 15rem;
    height: 15rem;
}