$font-family-sans-serif: 'Lato', sans-serif;
$primary: #4C2F1F;
$secondary: #de6e4b;
$font-small: 0.85rem;
$font-huge: 1.85rem;
$light: #DED9E2;
.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link
{
    color: whitesmoke !important
}
.dropdown, .dropdown-toggle, .dropdown-menu{
    width: 100% !important
}
.font-huge{
    font-size: $font-huge
}
@import './components/products/products.scss';
@import './components/calendar/calendar.scss';
@import './components/recipe/recipe.scss';
@import '~bootstrap/scss/bootstrap.scss';